<div><form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search"  aria-label="Search"   
  [(ngModel)]="filter" name="filter" placeholder=" Search by name or price" autocomplete="off">  
  
</form> 
</div>
<div class="card bg-dark text-white mb-3">
  <div *ngFor="let book of books | filter:filter; let i = index" class="list-group-item list-group-item-action"  
    [class.bg-warning.text-dark]="book === selectBook ">
    <i class="fa fa-book" aria-hidden="true" routerLink="/edit/{{book.id}}"> {{book.titolo}} </i>     
    <div class="pull-right">
      <strong *ngIf="book.prezzo" [style.color]="book.prezzo > 10 ? 'red' : 'green'">
        € {{book.prezzo | number: '1.2'}}
      </strong>
      <i class="fa fa-info-circle" aria-hidden="true" routerLink="/info/{{book.id}}"></i>
      <i class="fa fa-trash" aria-hidden="true" (click)="cancella(book, i)" ></i>
    </div>
  </div>
</div>








<div class="card bg-dark text-white mb-3">
  <div *ngFor="let book of books; let i = index" class="list-group-item list-group-item-action"  
    [class.bg-warning.text-dark]="book === selectBook ">
    <i class="fa fa-book" aria-hidden="true" routerLink="/edit/{{book.id}}">  {{book.titolo}} </i>     
    <div class="pull-right">
      <strong *ngIf="book.prezzo" [style.color]="book.prezzo > 10 ? 'red' : 'green'">
        € {{book.prezzo | number: '1.2'}}
      </strong>
      <i class="fa fa-info-circle" aria-hidden="true" routerLink="/info/{{book.id}}"></i>
      <i class="fa fa-trash" aria-hidden="true" (click)="cancella(book, i)" ></i>
    </div>
  </div>
</div>